.website-title {
    color: white;
    background-color: red;
    width: 120px;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.video-title {
    font-family: Arial;
    width: 300px;
    font-weight: bold;

}

.thumbnail {
    width: 300px;
    display: block;
}

.search-bar {
    font-size: 20px;
    margin-bottom: 20px;
}

.search-button {
    font-size: 20px;
    cursor: pointer;
}

.video-preview {
    display: ;
}